<div class="form-container">
  <h1 class="page-title">🎨 <%= @child.name %>ちゃんの作品を追加</h1>

  <%= form_with model: [@child, @artwork], class: "form-card", multipart: true do |f| %>
    <%= render "form", f: f, artwork: @artwork %>
    <div class="form-actions">
      <%= f.submit "登録する", class: "btn btn-accent btn-lg" %>
      <%= link_to "もどる", @child, class: "btn btn-outline btn-lg" %>
    </div>
  <% end %>
</div>
